In [1]:
# Standard imports
import numpy as np
import pandas as pd

In [2]:
def create_df(n_cont=2, n_cat=2, num_samples=10**6):
    # Create a dictionary with your columns
    data = dict()
    cont_names = []
    cat_names = []
    for i in range(n_cat):
        name = f'categorical_{i}'
        cat_names.append(name)
        data[name] = np.random.normal(loc=105, scale=2.5, size=num_samples).astype(int)
    for i in range(n_cont):
        name = f'continuous_{i}'
        cont_names.append(name)
        data[name] = np.random.normal(loc=550000, scale=250000, size=num_samples).astype(int)
    # data = {  
    #     'categorical_1': np.random.normal(loc=105, scale=2.5, size=10**6).astype(int),  # loc is the mean and scale is the standard deviation.  
    #     'categorical_2': np.random.normal(loc=105, scale=2.5, size=10**6).astype(int),  # loc is the mean and scale is the standard deviation.  
    #     'continuous_1': np.random.normal(loc=550000, scale=250000, size=10**6).astype(int),  
    #     'continuous_2': np.random.normal(loc=550000, scale=250000, size=10**6).astype(int)  
    # }  
      
    # Make sure the values are in the range you want
    for col in cat_names:
        data[col] = np.clip(data[col], 100, 109)
    for col in cont_names:
        data[col] = np.clip(data[col], 100000, 1000000)  
      
    # Create the dataframe  
    df = pd.DataFrame(data)
    
    return df

In [3]:
create_df()

        categorical_0  categorical_1  continuous_0  continuous_1
0                 101            106        374359       1000000
1                 103            102        743685        555599
2                 105            104        446079        482707
3                 100            100        784917        346935
4                 104            106        240607        555320
...               ...            ...           ...           ...
999995            102            105        920438        850718
999996            102            100        159591        990635
999997            105            109        245542        561501
999998            105            103        144341        501940
999999            101            105        343557        405069

[1000000 rows x 4 columns]

In [4]:
import os  
  
# Define file path  
file_path = '/home/azureuser/datadrive/large_data_test/syn_large_data.csv'  
  
# Initialize variables  
total_size = 0  
desired_size = 1 * 1e+9  # 20 GB in bytes  
  
# Loop until the total size reaches the desired size  
while total_size < desired_size:  
    # Generate a portion of the DataFrame  
    # data = {  
    #     'categorical': np.clip(np.random.normal(loc=105, scale=2.5, size=10**6).astype(int), 100, 109),  
    #     'continuous': np.clip(np.random.normal(loc=550000, scale=250000, size=10**6).astype(int), 100000, 1000000),  
    #     'categorical_1': np.clip(np.random.normal(loc=5.5, scale=2.5, size=10**6).astype(int), 1, 10),  
    #     'continuous_1': np.clip(np.random.normal(loc=5500, scale=2500, size=10**6).astype(int), 1000, 10000)  
    # }  
    # df = pd.DataFrame(data)
    df = create_df(n_cont=8, n_cat=2, num_samples=int(1e+6))
      
    if total_size == 0:
        df.to_csv(file_path, mode='a', index=False)  
    else:
        # Append the DataFrame to the CSV file  
        df.to_csv(file_path, mode='a', index=False, header=False)  
  
    # Update the total size  
    total_size = os.path.getsize(file_path)
    print(f'Current Size: {total_size / 1024**3:.2f} GB')

print('Generated CSV file size: {:.2f} GB'.format(total_size / 1024**3))

Current Size: 0.06 GB
Current Size: 0.12 GB
Current Size: 0.18 GB
Current Size: 0.24 GB
Current Size: 0.30 GB
Current Size: 0.36 GB
Current Size: 0.42 GB
Current Size: 0.48 GB
Current Size: 0.54 GB
Current Size: 0.60 GB
Current Size: 0.66 GB
Current Size: 0.72 GB
Current Size: 0.78 GB
Current Size: 0.84 GB
Current Size: 0.90 GB
Current Size: 0.96 GB
Generated CSV file size: 0.96 GB